.user-name {
  padding :0 !important;
  padding-left: 5px;
  padding-top: 15px !important;
  text-align: center;

  a {
    color: white !important;
    margin: 0px !important;
    padding: 5px !important;
  }

  a:hover, a:focus {
    color: black !important;
  }
}

.nav.navbar-right {
  padding-bottom: 10px;
  padding-top: 5px;
}

.nav.navbar-nav {
  .navbar-link {
    border-radius: 5px;
    color: #FFF;
    margin-top: 15px;
    padding: 8px;
  }

  .navbar-link:focus, .navbar-link:hover {
    background-color: #3071a9;
    color: white;
  }

  li a {
    margin-right: 5px;
  }
}

.nav.navbar-right {
  li {
    btn {
      color: #FFFFFF !important;
      margin-top: 5%;
    }

    .btn-danger:hover, .btn-danger:focus {
      background-color: darken(#d9534f, 20%) !important;
    }

    .btn-primary:hover, .btn-primary:focus {
      background-color: darken(#428bca, 20%);
    }
  }

  .btn-primary:visited, .btn-danger:visited {
    color: #FFFFFF;
  }
}